.auth {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04204);
    border-radius: 3px;
    padding: 45px;
    width: 430px;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.auth_top{
    text-align: center;
    margin-bottom: 20px;
}

.auth_top h2{
    font-size: 28px;
    color: #202002;
    margin-bottom: 5px;
}

.auth_top p{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #202002;
    opacity: 0.5;
}

.button {
    text-transform: uppercase !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    letter-spacing: 0.1px !important;
    width: 100% !important;
}

.register_link {
    text-align: center;
    display: block;
    font-size: 16px;
    letter-spacing: 0.1px;
    color: #ADADAD;
}